# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')

### Step 4. See the first 10 entries

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [4]:
# Solution 1
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [5]:
# Solution 2
chipo.shape

(4622, 5)

### Step 6. What is the number of columns in the dataset?

In [6]:
print(f'Number of columns : {len(chipo.columns)}')
print(f'Number of columns : {chipo.shape[1]}')

Number of columns : 5
Number of columns : 5

### Step 7. Print the name of all the columns.

In [7]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [8]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [21]:
# maxquant = max(chipo['quantity'])
# chipo.loc[chipo['quantity'] == maxquant, ['item_name', 'quantity']]

chipo_gb = chipo.groupby(['item_name']).agg({'quantity' : 'count'})
chipo_gb.reset_index(inplace=True)
chipo_gb.sort_values(by='quantity', ascending=False).nlargest(5, 'quantity')

              item_name  quantity
17         Chicken Bowl       726
18      Chicken Burrito       553
25  Chips and Guacamole       479
39        Steak Burrito       368
10    Canned Soft Drink       301

### Step 10. For the most-ordered item, how many items were ordered?

In [10]:
chipo_gb = chipo.groupby(['item_name']).agg({'quantity' : 'sum'})
chipo_gb.reset_index(inplace=True)
chipo_gb.sort_values(by='quantity', ascending=False).nlargest(5, 'quantity')

              item_name  quantity
17         Chicken Bowl       761
18      Chicken Burrito       591
25  Chips and Guacamole       506
39        Steak Burrito       386
10    Canned Soft Drink       351

### Step 11. What was the most ordered item in the choice_description column?

In [11]:
chipo_gb = chipo.groupby(['choice_description']).agg({'quantity' : 'sum'})
chipo_gb.reset_index(inplace=True)
chipo_gb.sort_values(by='quantity', ascending=False).nlargest(5, 'quantity')

                                    choice_description  quantity
15                                         [Diet Coke]       159
14                                              [Coke]       143
583                                           [Sprite]        89
256  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...        49
257  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...        42

### Step 12. How many items were orderd in total?

In [12]:
# len(set(chipo['item_name']))
chipo.quantity.sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [13]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

#### Step 13.b. Create a lambda function and change the type of item price

In [14]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:].strip()))

#### Step 13.c. Check the item price type

In [15]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

### Step 14. How much was the revenue for the period in the dataset?

In [16]:
chipo['item_price'].sum()

34500.16

### Step 15. How many orders were made in the period?

In [17]:
# chipo_gb = chipo.groupby(['order_id']).agg({'order_id' : 'count'})
# chipo_gb
chipo['order_id'].max()

1834

### Step 16. What is the average revenue amount per order?

In [18]:
# Solution 1
chipo_gb = chipo.groupby(['order_id']).agg({'item_price' : 'mean'})
chipo_gb.head()

          item_price
order_id
1              2.890
2             16.980
3              6.335
4             10.500
5              6.850

In [19]:
# Solution 2

### Step 17. How many different items are sold?

In [20]:
len(chipo['item_name'].unique())

50